# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
.env/

# OS files
.DS_Store
Thumbs.db

# Docker and logs
*.log
*.tmp

# Git
.git/
.gitignore

tests/
k8-s/
adaptai-chart/
